.login-container {
  background-color: white;
  padding: 7%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40vw;
  margin-left: 30vw;
  height: 70vh;
  margin-top: 15vh;
  border-radius: 30px;
}